<!DOCTYPE html>
<html>
<head> 
    <title>Book Recomendation System</title>

    <meta name="Author" content="Kuntal Chakraborty">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">



</head>
<style>
    

</style>

<body class="bodyc" >
    <div class = "container">
        <nav class="navbar" >
    
        <a class='nav'><b> My Book Recomendation</b></a><br><br>
        
        <a href="/"><span class="span_x" >Home</span></a>
        <a href="/recomend_ui"><span class="span_x">Recomand</span></a>
        <a href="/all_books"><span class="span_x">All Books</span></a>
        <a href="https://github.com/kuntal2022" target="_blank"><span class="span_x">Contact</span></a>
    
            </nav> </div>

        <div class="rows" id="margine_x">
           {% for i in range(book_name|length) %}
           <div class="custom-col-md-3">
            
           <p class="text_white"></p>
           <img class="imgx" src={{ pic[i] }} alt="x">
           <p class="text_white">{{ book_name[i]}}</p>
           <p class="text_white">{{ author[i]}}</p>
           <p class="text_white">{{ publisher[i]}}</p>
           <p class="text_white">{{ avg_rating[i]}}</p>
           <p class="text_white"> Total Vote {{ cnt_rating[i]}}</p>
           </div>
           {% if loop.index % 4 == 0 %}
           </div>
           <div class="rows">
            {% endif %}
           {% endfor %}
           </div>

           


</div>



</div>



</body>













</html>